<!DOCTYPE html>
<html>
<head>
	<title>Display</title>
</head>
<body>
<center>
	<h1>Details of the user...</h1>
	<table border="2" cellpadding="10" cellspacing="10" width="50%">
		<tr>
			<th>Name</th>
			<th>Subject</th>
			<th>Actions</th>
		</tr>

		{% for x in details %}
		<tr>
			<td>{{x.Name}}</td>
			<td>{{x.Subject}}</td>
			<td><a href="{% url 'edit' x.id %}">Edit</a>
				<a href="{% url  'delete' x.id %}">Delete</a></td>
		</tr>


		{% endfor %}
	</table><br><br>

	<a href="{% url 'new_entry' %}" class="btn btn-primary">Add new record</a>


</center>

</body>
</html>