<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
</head>
<body>
	<center>
		<h1>Your details are...</h1>
		<table border="2" cellspacing="10" cellpadding="10">
			<tr>
				<th>Name</th>
				<th>Class</th>
				<th>Email id</th>
				<th>Subject</th>
				<th>Gender</th>
				<th>Address</th>
			</tr>

			{% for x in display %}
			<tr>
				<td>{{x.name}}</td>
				<td>{{x.class1}}</td>
				<td>{{x.email}}</td>
				<td>{{x.subject}}</td>
				<td>{{x.gender}}</td>
				<td>{{x.address}}</td>
			</tr>
			{% endfor %}
		</table><br><br>
		<a href="{% url 'new' %}" class="btn btn-primary">Add new record</a>
	</center>

</body>
</html>